@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Light theme colors */
  :root {
    /* BTN */
    --btn-primary: #6155c8;
    --btn-secondary: #3f6c68;
    /* BG */
    --bg-primary: white;
    --bg-secondary: #f8f7fa;
    --bg-sidebar: linear-gradient(145deg, #ffff 0%, #ffff 100%);
    --bg-body: linear-gradient(145deg, #f5f5f5 0%, #eaeaea 50%, #dcdcdc 100%);
    --bg-modal: linear-gradient(145deg, #ffff 0%, #ffff 100%);
    /* BORDER */
    --border-primary: #5353552d;
    /* TEXT */
    --text-primary: rgb(54, 53, 53);
    --text-label: #101011;
    --text-secondary: #6e708c;
    --text-active: #6155c8;
  }

  /* Dark theme colors */
  :root[class~="dark"] {
    /* BTN */
    --btn-primary: #6155c8;
    --btn-secondary: #172331;
    /* BG */
    --bg-primary: red;
    --bg-secondary: #232a31;
    --bg-sidebar: linear-gradient(145deg, #030c15, #081423, #0000);
    --bg-body: linear-gradient(145deg, #000000 0%, #030c15 50%, #050f1b 100%);
    --bg-modal: linear-gradient(#6155c829, #6155c800 60%);
    /* BORDER */
    --border-primary: #1f3445;
    /* TEXT */
    --text-primary: #e6e0fc;
    --text-label: #e6e0fc;
    --text-secondary: #afb9cf;
    --text-active: #6155c8;
  }
}

html {
  font-size: 13px;
}

@media only screen and (min-width: 1000px) {
  html {
    font-size: 13.8px;
  }
}

.heading-clip {
  color: transparent;
  -webkit-text-fill-color: transparent;
  background-image: radial-gradient(circle at 0 0, #e6e0fc, #e6e0fc3d);
  background-clip: text;
}
