@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Light theme colors */
  :root {
    /* BTN */
    --btn-primary: #6155c8;
    --btn-secondary: #f2f2f2;
    --btn-muted: #f5f5f5;
    --bg-muted: #453a9910;
    /* BG */
    --bg-primary: white;
    --bg-secondary: #e4e7f1;
    --bg-node: white;
    --bg-sidebar: linear-gradient(145deg, #ffff 0%, #ffff 100%);
    --bg-body: linear-gradient(145deg, #f5f5f5 0%, #eaeaea 50%, #dcdcdc 100%);
    --bg-modal: linear-gradient(145deg, #ffff 0%, #fafafa 100%);
    /* BORDER */

    --border-primary: #dedee2;
    --border-secondary: #9f9fa2;
    /* TEXT */
    --text-primary: #171717;
    --text-secondary: #666666;
    --text-muted: #6c757d;
    --text-label: #69696e;
    --text-active: #6155c8;
  }

  /* Dark theme colors */
  :root[class~="dark"] {
    /* BTN */
    --btn-primary: #6155c8;
    --btn-secondary: #172331;
    --btn-muted: #282b2e;
    /* BG */
    --bg-primary: #0e0e23;
    --bg-secondary: #24243e;
    --bg-muted: #0b1121;
    --bg-node: #0c0a09;
    --bg-sidebar: linear-gradient(145deg, #030710, #060c1a, #10142d);
    --bg-body: linear-gradient(145deg, #030710, #060c1a, #10142d);
    --bg-modal: linear-gradient(#6155c829, #6155c800 60%);
    /* BORDER */
    --border-primary: #313069b9;
    --border-secondary: #3e4057;
    /* TEXT */
    --text-primary: #ceccf1;
    --text-label: #e6e0fc;
    --text-secondary: #9597b0;
    --text-active: #6155c8;
    --text-muted: #676981;
  }
}

html {
  font-size: 15px;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 13px;
  }
}

.heading-clip {
  color: transparent;
  -webkit-text-fill-color: transparent;
  background-image: radial-gradient(circle at 0 0, #e6e0fc, #e6e0fc3d);
  background-clip: text;
}
