@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Light theme colors */
  :root {
    /* BTN */
    --btn-primary: #6155c8;
    /* BG */
    --bg-sidebar:unset;
    /* BORDER */
    --border-primary:#5353552d;
    /* TEXT */
    --text-primary:red;
    --text-secondary:#96A0AF;
  }

  /* Dark theme colors */
  :root[class~="dark"] {
    /* BTN */
    --btn-primary: #6155c8;
    /* BG */
    --bg-sidebar:linear-gradient(145deg, #030c15, #081423, #0000);
    /* BORDER */
    --border-primary:#1F3445;
    /* TEXT */
    --text-primary:#fff;
    --text-secondary:#96A0AF;
  }
}

html {
  font-size: 13px;
}

@media only screen and (min-width: 1000px) {
  html {
    font-size: 14.3px;
  }
}

html.dark body {
  background: linear-gradient(145deg, #000000 0%, #030c15 50%, #050f1b 100%);
}

.heading-clip {
  color: transparent;
  -webkit-text-fill-color: transparent;
  background-image: radial-gradient(circle at 0 0, #e6e0fc, #e6e0fc3d);
  background-clip: text;
}
